<?xml version="1.0"?>
<config>
    <modules>
        <Drei_StructuredData>
            <version>1.0.0</version>
        </Drei_StructuredData>
    </modules>
    <global>
        <blocks>
            <drei_structureddata>
                <class>Drei_StructuredData_Block</class>
            </drei_structureddata>
        </blocks>
        <models>
            <drei_structureddata>
                <class>Drei_StructuredData_Model</class>
                <resourceModel>drei_structureddata_resource</resourceModel>
            </drei_structureddata>
            <drei_structureddata_resource>
                <class>Drei_StructuredData_Model_Resource</class>
            </drei_structureddata_resource>
        </models>
        <helpers>
            <drei_structureddata>
                <class>Drei_StructuredData_Helper</class>
            </drei_structureddata>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <drei_structureddata>
                    <file>drei/structured_data.xml</file>
                </drei_structureddata>
            </updates>
        </layout>
    </frontend>
</config>
